:root {
    color: black;
    font-family: Arial, Helvetica, Geneva, sans-serif;
    font-size: 15px;
}
a {
    color: black;
    text-decoration: none;
}
body {
    background-color: mintcream;
    margin: 0;
    padding: 50px;
}
.logo {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 0;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}
.logo > span {
    font-size: 23px;
    font-weight: bold;
    margin-left: -33px;
    padding-left: 3px;
    text-decoration: none;
    transform: rotate(-65deg);
}
.logo > img {
    height: 92px;
    width: 92px;
}
h1 {
    font-size: 3rem;
    color: gray;
    margin: 3rem 0 1.25rem;
}
h2 {
    font-size: 1.4rem;
    margin: 2rem 0 1.5rem;
    text-align: center;
}
section {
    margin: 0 auto;
    max-width: 600px;
}
.intro{
    background-color: white;
    border: 2px solid #ff6600;
    border-radius: 30px;
    margin: 50px 0;
    padding: 15px;
    text-align: center;
}
button {
    align-items: center;
    background-color: white;
    border: 2px solid #ff6600;
    border-radius: 30px;
    color: #ff6600;
    cursor: pointer;
    display: flex;
    font-size: 1.1rem;
    font-weight: bold;
    justify-content: space-between;
    margin: 0 auto 20px;
    padding: 5px 15px;
    width: 50%;
}
button img[src="img/check-circle.svg"], button:hover img[src="img/white-circle.svg"] {
    display: none;
}
button:hover {
    background-color: #ff6600;
    border: 2px solid white;
    color: white;
}
button:hover img[src="img/circle.svg"], button.active img[src="img/circle.svg"] {
    display: none;
}
button:hover img[src="img/white-circle.svg"] {
    display: block;
}
button.active img[src="img/check-circle.svg"] {
    display: block;
}
button.active img[src="img/white-circle.svg"] {
    display: none;
}
.bold {
    font-weight: bold;
}
.big {
    font-size: 1.1rem;
}
.bigger {
    font-size: 1.4rem;
}
/* --------------------------------------------------------------------- Mobile / Desktop Stuff --------------------------------------------------------------------- */
.mobile {
    display: none;
}
/* Prototype 375px but -> https://css-tricks.com/snippets/css/media-queries-for-standard-devices/ */
@media only screen and (max-width: 812px) and (orientation: portrait) {
    /* portrait phones */
    :root {
        font-size: 14px;
    }
    body {
        padding: 10px;
    }
    h1 {
        font-size: 2.5rem;
        margin: 2rem 0 0.75rem;
    }
    h2 {
        font-size: 1.3rem;
        margin: 1.75rem 0 1.25rem;
    }
    .intro{
        margin: 25px 0;
    }
}